@font-face {
    font-family: Persina;
    src: url('../fonts/iranYekanWeb.ttf');
}

* {
    font-family: Persina, sans-serif;
    margin: 0;
    padding: 0;
}

.box_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
}

.box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 11px;
    padding: 30px;
}

.box p {
    direction: rtl;
    margin-bottom: 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content p {
    direction: rtl;
    margin-right: 10px;
    text-align: right;
}

.return_btn {
    background-color: #335dc8;
    color: white;
    margin-top: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 600px) {
    .box {
        width: 95%;
    }
}
